
html {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(14,29,71);
  background: linear-gradient(0deg, #000000 0%, #8c0013 100%) repeat;
  /*background: linear-gradient(to bottom, #000000, #FFFFFF); --#0a0e19 #e10000  height: 100%;   font-family: "Open Sans";*/
}

.backclock{
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clock{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font: 200 16px/1.5 Lato, sans-serif;
  font-size: 100pt;
  color: #FFFFFF;
  text-shadow: 0 0 2px #FFF;
}

.inclock{
  display: inline;
}

.clock #separator {
  -moz-animation: myfade 1s ease infinite;
  -webkit-animation: myfade 1s ease infinite;
}

.round{
}

@-webkit-keyframes myfade {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1.0;
  }   
}

@-moz-keyframes myfade {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1.0;
  }
}